// Variables
$color-grey: #eee;
$color-grey-light: #f5f5f5;
$color-primary: #ffd16e;
$radius: 3px;

$color-pink: #ffc1ca;
$color-blue: #b6f8ff;
$color-yellow: #fbee75;

$color-green: #46F992;


// Function
@function remy($value, $base: 16px) {
 @return ($value / $base) * 1rem;
}

// Mixins
@mixin transition($prop: all, $duration: .25s, $timing: cubic-bezier(.4,0,1,1)) {
  transition: $prop $duration $timing;
}


html {
 box-sizing: border-box;
 font-size: 16px;
}

*,
*:after,
*:before {
 box-sizing: border-box;
}


body {
  background-color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  width: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: #b6f8ff;
}

/*h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', 'Roboto', sans-serif;
  }*/


  .main {
    text-align: left;
    margin-bottom: 60px;
    margin-top: 30px;
  }

/*.aside-1 {
  background: $color-yellow;
}

.aside-2 {
  background: $color-pink;
  }*/


  .footer {
    background: $color-pink;
    line-height: 3;
  }


  .logo {
/*  vertical-align: middle;
*/  width: 30%;
}


.center-container {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

form {
 padding: remy(32px);
 margin-top: 2rem;
 margin-right: auto;
 margin-left: auto;
 max-width: remy(380px);
 background-color: #fff;
 border-radius: $radius;
 box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
}

h1 {
 margin-top: 0;
 margin-bottom: 3.236rem;
 text-align: center;
 font-size: 1.618rem;
}

a {
  color: inherit;
  border-bottom: 2px solid #000;
  color: #000;
  font-weight: 400;
  padding-bottom: 2px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}


.form-group {
 padding: 0;
 border: 0;

 & + & {
  margin-top: 1rem;
}
}

label {
 display: inline-block;
 margin-bottom: .5rem;
 font-size: .75rem;
 text-transform: uppercase;
 touch-action: manipulation;
}

input,
textarea {
 display: block;
 padding: .5rem .75rem;
 width: 100%;
 font-size: 1rem;
 line-height: 1.25;
 color: #55595c;
 background-color: #fff;
 background-image: none;
 background-clip: padding-box;
 border-top: 0;
 border-right: 0;
 border-bottom: 1px solid $color-grey;
 border-left: 0;
 border-radius: $radius;
 @include transition;

 &:focus {
  outline: 0;
  border-bottom-color: $color-primary;
}
}

textarea {
 resize: vertical;
}

.btn {
 display: inline-block;
 padding: .75rem 1rem;
 margin-top: 1.618rem;
 font-weight: 400;
 text-align: center;
 font-family: 'Oswald', sans-serif;
 text-transform: uppercase;
 color: #fff;
 vertical-align: middle;
 white-space: nowrap;
 background-color: $color-primary;
 border: 1px solid transparent;
 box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
 cursor: pointer;
 user-select: none;
 @include transition;

 &:focus,
 &:hover {
  background-color: darken($color-primary, 13%);
  box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);

  &:disabled {
  opacity: 0.3;
  background-color: grey;

  &.warning {visibility:visible;}
  }

}

&:hover .warning {
  visibility: visible;
}

&:focus {
  outline: 0;
}

/*&:disabled{
  opacity: 0.3;
  background-color: grey;

}*/

}

.btn:hover .warning {visibility:visible;}



.warning {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  background-color: tomato;
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
  /*text-transform: uppercase;*/
  border: 1px solid transparent;
  /*box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);*/
  border-radius: $radius;
  visibility: hidden;
}

.no-warning {
  background-color: white;
  color:white;
}


.hidden-content {
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
  color: $color-primary;
}

/*.hidden { visibility:hidden; }
*/




/*.hover-hide{
   display:none;
   visibility: hidden;
}
*/


@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .aside-2 { order: 3; }
  .footer  { order: 4; }
}

